
.navbar {
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #333;
  padding: 20px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-logo img {
  height: 40px;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar-link:hover {
  color: #ddd;
}

.navbar-toggle {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-link {
    padding: 10px 20px;
    width: 100%;
  }

  .navbar-toggle {
    display: block;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
}
